body{
    background-color: lightgray;
    margin: 0;
}

.header{
    padding: 6px;
    background-color: #234465;
}

.navbar{
    display: inline;
    vertical-align: middle;
}

.navbar__logo{
    vertical-align: middle;
    display: inline;
    margin-right: 80px;
}

.links{
    display: inline;
}

.link-item{
    display: inline-block;
}

a{
    color: white;
}