body{
    background-color: #b7d6e8;
}

header, article, footer{
    background-color: #dceaf3;
}

header{
    padding: 12px;
}

header * {
    vertical-align: middle;
}


header>nav>h1{
    display: inline;
}

header>nav>ul{
    display: inline;
}

header>nav>ul>li{
    display: inline;
}

header>nav>ul>li>a{
    text-decoration: none;
}

h2{
    margin: 16px 12px;
}

section{
    display: flex;
    justify-content: space-around;
    gap: 48px;
    padding: 16px;
}

article{
    padding: 12px;
    border-radius: 12px;
    width: 50%;
    margin: 0px 0px;
}

footer{
    padding: 2px 12px
}