/* 
bg - #07102e
 */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #07102e;
	color: white;
}

p{
	color: #4e5a85;
}

.header {
	padding: 16px 64px;
	display: flex;
	align-items: center;
	gap: 12px;
	border-bottom: 1px solid #4e5a85;
	position: sticky;
	top: 0px;
	background-attachment: transparent;
	backdrop-filter: blur(35px);
}

.header .navigation{
	margin-left: auto;
	margin-right: 12px;
}

.header .nav-list {
	display: flex;
	gap: 12px;
}

.header .nav-list a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* buttons */

.btn{
	border: none;
	border-radius: 4px;
	background-color: #4e5a85;
	padding: 8px 20px;
	cursor: pointer;
	color: white;
}

/* hero */

#hero{
	padding: 70px 64px;
}

#hero .welcome{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	max-width: 1000px;
	margin: 0 auto 48px auto;
}

#hero .welcome > * {
	width: 45%;
}

#hero .welcome .title{
	font-size: 48px;
	line-height: 1.2;
}

#hero .welcome .info{
	margin-bottom: 12px;
}

#hero .welcome .btn-primary{
	background-color: #0059f7;
	color: white;
}

#hero .hero-img{
	margin: 0 auto 48px auto;
}

#hero .partners{
	display: flex;
	justify-content: space-between;
	align-items: center;
}